<div class="jumbotron">
  <h1 class="display-3">로또 번호 추첨기</h1>
  <p class="lead">추첨하기 버튼을 눌러 행운의 번호를 받으세요.</p>
  <hr class="my-4">
  <p class="lead">
    <div class="container">
      <h1>
        <span class="badge badge-warning">당첨번호</span>
      </h1>
      <hr class="my-4">
      <div class="row" style="height:200px">
        <div class="container " id="hide" style="display: none">
          <div class="row justify-content-center">
            <% @lotto.each.with_index do |number,index| %>
              <div class="rounded-circle mx-2 <%=@color[index]%>" id="num<%=index%>"><div class="align-self-center"><span style="font-size:50px"><%= number %></span></div></div>
            <% end %>
            <div class="align-self-center"><div class="align-self-center"><span style="font-size:50px">+</span></div></div>
            <div class="rounded-circle mx-2 <%= @bonus_color %>" id="num6"><div class="align-self-center"><span style="font-size:50px"><%= @bonus %></span></div></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          <button type="button" id="lotto" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">추첨 결과 보기</button>
          <button type="button" id="reset" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="display:none" onclick="location.reload()">다시 추첨하기</button>
      </div>
    </div>
  </p>
</div>
